<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I said I will</title>

    <style>
        body {
            background:url(/static/img/giphy\ \(1\).gif);height: 400px;
    background-position: center;  
    background-repeat:inherit; width:100%;
 
        }
        </style>
</head>
<body style="text-align: center;">
    <div style="font-weight: bolder; font-size: 30px;">
    <h1>URL Shortener</h1>
    <hr>
    <div>
        {% block content%}
        {% endblock %}
    </div>
    </div>
</body>
</html>